
 /*div {*/
 /*    border: solid 3px tomato;*/
 /*}*/

p {
    font-family: Arial, Helvetica, sans-serif;
}

#alfa {
    height: 95px;
}

.gameName {
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.score {
    text-align: center;
    font-size: 3em;
}

.bins {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bin {
    width: 350px;
}

.trashBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.trashItem {
    width: 100px;
}